@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html{
    font-family: 'Gentium Basic', serif;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0px;
    right:0px;
    left: 0px;
    z-index: 5;
}
.logo{
    font-variant: small-caps;
    text-align: center;
    padding: 5px;
    margin: 0px;
    background: white;
}
.logo h1{
    padding:0px;
    width: 210px;
    height: 50px;
    padding-left: 25px 25px;
    margin: 0px auto;
    border: 1px solid white;
}
.logo img{
    position: absolute;
    top: 0px;
    left: 10px;
}
.logo .phukien{
    position: absolute !important ;
    max-width: 100%;
    top: 10px;
    right:20px;
}
.logo .phukien .control{
    /* display: none; */
    position:relative;
    top: -15px;
    right:0;
    width: 200px;
    padding: 0px; 
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 10px 12px;
}
.menu{
    text-align: center;
    background: black;
    padding: 0.5px; 
}
.menu .nav li{
    position: relative;
    list-style:none;
}
.menu .nav>li{
    display: inline-block;
    margin-right: 30px;
}  
.menu .nav li a{
    color: white;
    text-decoration: none;
}
.menu .nav li a{
    padding: 10px;
    line-height: 20px;
    display: inline-block;
}
.menu .nav>li>a:hover{
    color: #999;
}
.menu .nav .sub-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: #f8f8f8;
    padding: 0px; 
    top: 40px;
    left: 0;
    text-align: left;
    color: black;
}
.menu .nav .sub-menu>li>a{
    text-decoration: none;
    color: black;
}
.menu .nav .sub-menu>li:hover{
    background-color:  gray;
}
.menu .nav li:hover>.sub-menu{
    display: block;
}

.thongtin{
    padding: 134px;
    font-family: 'Be Vietnam Pro', sans-serif; 
}
.thongtin h1{
    color: gray;
    text-align: center;
}
.thongtin .dacbiet{
    text-align: center;
    padding: 30px;
}
.thongtin .hanmuc{
    font-size: 20px;
    color: gray;
}

.hotline{
    height: 70px;
    background: whitesmoke;
    line-height: 70px;
}
.hotline p{
    margin: 30px;
}
.hotline p a{
    text-decoration: none;
    color:black;
}
footer{
    position: relative;
    width: 90%;
    height: 275px;
    padding: 10px;
    background: white;
    font-family: 'Be Vietnam Pro', sans-serif; ;
}
footer .ended{
    display: flex;
}
footer .ended .footer-icon{
    margin-right: 30px;
}
.aboutus{
    width:40%;
}
.aboutus h3{
    position: relative;
    color:black;
    font-weight: 500;
    margin-bottom: 15px;
}
.aboutus p{
    color: #999;
}
.lienket h3{
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 40px;
}
.lienket{
   position: relative;
   width: 19%;
}
.lienket ul li{
    list-style: none;
}
.lienket ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 5px;
    display: inline-block;
}
.lienket ul li a:hover{
    color: black;
}
.contact h3{
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 40px;
}
.contact{
   position: relative;
   width: 35%;
}
.contact ul li{
    list-style: none;
}
.contact ul li p{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.end{
    font-family: 'Gentium Basic', serif;
    height: 70px;
    background: whitesmoke;
    line-height: 70px;
    color: black;
    text-align: center;
}